{% extends 'admin_base.html' %}
{% block content %}

<div class="container mt-4">
    <h2>Discover Events</h2>

    <form method="GET" class="mb-3">
        <input type="text" name="search" placeholder="Search event">
        <input type="text" name="category" placeholder="Category">
        <input type="text" name="skill" placeholder="Skill">
	<input type="date" name="date" value="{{ request.GET.date }}">
        <button class="btn btn-primary">Search</button>
    </form>

    <div class="row">
        {% for event in events %}
        <div class="col-md-4">
            <div class="card mb-3">
                {% if event.event_image %}
                <img src="{{ event.event_image.url }}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5><a href="{% url 'event_detail' event.id %}">{{ event.event_title }}</a></h5>
                    <a href="{% url 'save_event' event.id %}">Save</a>
		    <p>{{ event.event_category }}</p>
                    <p>{{ event.event_date }}</p>
                    <a href="{% url 'event_detail' event.id %}" class="btn btn-success">
                        View Details
                    </a>
		    <a href="{% url 'save_event' event.id %}" class="btn btn-warning mt-2">
			Save Event
		    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
